.quote {
  width: 100%;
  padding: 1.25rem;
  margin: 0.5rem 0;
  background: var(--color-cs-quote);
  border-radius: 12px;
}

.quote p {
  color: var(--color-titles);
  font-family: var(--font-serif);
  font-size: var(--text-cs-h3);
  font-style: italic;
  font-weight: 400;
  line-height: var(--leading-cs-h3);
  text-align: center;
}
