.pair {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.625rem;
  width: 100%;
  margin-block: 0.5rem;
}

.figure {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.stack {
  gap: 1.5rem;
}

@media (min-width: 48rem) {
  .pair:not(.stack) {
    grid-template-columns: 1fr 1fr;
  }
}
